.well
  .footer.row-fluid
    .span4.footer-item
      %h3 Course Types
      %hr/
      %ul
        %li Item #
        %li Item #
        %li Item #
        %li Item #
        %li Item #
    .span4.footer-item
      %h3 About Us
      %hr/
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra quis est eget iaculis. Aenean sit amet mattis diam. Mauris tincidunt facilisis sapien non convallis.
    .span4.footer-item
      %h3 Contact Us
      %hr/
      %img{src: "http://placehold.it/200x200&text=Contact Info"}/
  %hr/
  .row-fluid
    .span4
      %p Copyrighted © Kilavus 2013
    .span8
      %p
        %a{href: "#"} 404 Error page