.masthead
  .row-fluid
    .span6
    .span6
      %p.pull-right.muted
        %a{href:"#"}>Sign Up
        |
        %a{href:"#"}>Sign In
        |
        %a{href:"#"}>Profile
  = render "partial/navbar"