.navbar
  .navbar-inner
    .container
      %ul.nav
        %li.active
          %a{href:"#"}>Home
        %li#nav-math
          %a{href:"#"}>Mathematics
        %li#nav-science
          %a{href:"#"}>Science
        %li#nav-humanities
          %a{href:"#"}>Humanities
        %li#nav-programming
          %a{href:"#"}>Programming