!!!
%html
  %head
    %title KilavusPlatform
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Optimized for legibility.", name: "description"}/
    %meta{content: "A. Besir Kurtulmus", name: "author"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
